.ai-parser {
  margin-bottom: 4rem;
  padding: 20px 0;
}

.section-title {
  color: var(--primary);
  font-family: var(--headingsMainFont);
  font-size: var(--headingsSize);
  margin-bottom: 0.5rem;
}

.section-desc {
  color: var(--secondary);
  font-size: var(--ulSize);
  margin-bottom: 1rem;
}

.ai-form {
  position: relative;
  padding-top: 40px;
  max-width: 100%;
  width: 100%;
}

.ai-form button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 5;
}

.click-to-try button {
  all: unset;
  color: var(--secondary);
  cursor: pointer;
}

.ai-icon {
  font-size: 14px;
}

.ai-form .btn-dark:hover {
  border-color: var(--primary) !important;
}

/* Max-width 768px */
@media screen and (max-width: 768px) {
  .ai-parser {
    margin-bottom: 3rem;
  }
  .ai-parser h1 {
    font-size: 22px;
  }

}

/* Max-width 375px */
@media screen and (max-width: 375px) {
  .ai-parser {
    margin-bottom: 2rem;
  }

  .ai-form textarea {
    font-size: 14px;
  }

  .my-btn {
    padding: 2px 6px;
    font-size: 14px;
  }

  .click-to-try>button {
    font-size: 14px;
  }
}