
.contact-manager {
    padding: 40px 20px;
}
.add-contact {
    border: none;
    padding: 6px 8px;
    background: var(--border);
    color: var(--primary);
    font-weight: bold;
}

.add-contact svg {
    font-size: 20px;
}

.search {
    flex: 1;
    margin-right: 10px;
}

.search svg {
    font-size: 18px;
    margin-left: 16px;
}

.search input {
    padding: 8px;
    width: 100%;
    border-radius: 4px;
    outline: none;
    border: 1px solid #e4e4e4;
}

.search input::placeholder {
    padding-left: 22px;
}

.filter>button,
.mobile-search>button {
    all: unset;
    border: 1px solid #e4e4e4;
    padding: 8px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.mobile-search {
    display: none;
}

.mobile-cards {
    display: flex;
    gap: 10px;
}

.mobile-contacts {
    width: 95%;
}

/* .contacts-header {
    z-index: 1;
} */


@media screen and (max-width: 768px) {
    .mobile-search {
        display: block;
    }

    .search {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        transition: .3s linear;
        opacity: 0;
        margin: unset;
        padding: 0px 12px;
        visibility: hidden;
        /* z-index: -1;         */
    }

    .search.is-active {
        opacity: 1;
        visibility: visible;
        top: -47px;
    }

    .search svg {
        margin-left: unset;
    }

    .mySwiper .swiper-pagination {
        bottom: -7px !important;

    }
}

/* Max-width 568px  */
@media screen and (max-width: 568px) {
    .cm-left {
        margin-bottom: 10px;
    }
}

/* Max-width  375px*/
@media screen and (max-width: 375px) {
    .add-contact {
        font-size: 14px;
    }

    .cm-left>h2 {
        font-size: 22px;
    }
}