/* My Variables */
:root {
    --primary: #1A639E;
    --secondary: #737373;
    --headingsMainFont: 'Source Sans Pro', sans-serif;
    --ulFonts: "Public Sans", system-ui;
    --ulSize: 14px;
    --light: #fff;
    --dark: #000000;
    --burger-menuColor: #1C1B1F;
    --border: #F4F4F4;
    --transition: .3s linear;
    --imgTransition: filter 0.3s ease;
    --radius: 8px;
    --headingsSize: 28px;
    --bodySize: 16px;
    --lineHeight: 32px;
    --footer: #1D1F26;
}

/* My basic styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--headingsMainFont);
    font-weight: 400;
    font-size: var(--bodySize);
}

h2 {
    color: var(--primary);
    font-size: var(--headingsSize);
}

a {
    text-decoration: none;
    color: var(--secondary);
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style: none;
}

.container {
    width: 1440px;
    max-width: 100%;
    margin: auto;
}

.my-btn {
    transition: var(--transition);
    padding: 4px 8px;
    border-radius: var(--radius);
    background-color: var(--dark);
    color: var(--light);
}

.my-btn:hover {
  background-color: var(--primary);
}

.btn-primary {
    background: var(--primary) !important;
}

.btn-outline-primary {
    color: var(--primary) !important;
}

.text-primary {
    color: var(--primary) !important;
}

/* DARK THEME GLOBAL !!! */
/* === Dark Mode Global === */
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

/* === Card === */
body.dark-mode .card {
  background-color: #1e1e1e;
  color: #fff;
}

/* === Form elements === */
body.dark-mode input,
body.dark-mode textarea,
body.dark-mode select {
  background-color: #1e1e1e;
  color: #ffffff;
}

body.dark-mode input::placeholder,
body.dark-mode textarea::placeholder {
  color: #bbbbbb;
}

/* === Table === */
body.dark-mode table {
  background-color: #1e1e1e;
  color: #fff;
}

body.dark-mode th,
body.dark-mode td {
  border-color: #333;
}

/* === Modals === */
body.dark-mode .modal-content {
  background-color: #1e1e1e;
  color: #fff;
}

body.dark-mode .modal-header,
body.dark-mode .modal-footer {
  border-color: #333;
}

body.dark-mode .btn-close {
  filter: invert(1);
}


